[submodule "fonts"]
	path = fonts
	url = https://github.com/chrissimpkins/codeface
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts
